<footer>
     <div class="f-info mt-3">
        <div class="f-info-social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-name">
            &copy; AIRBNB Private Limited
        </div>
        <div class="f-info-links">
            <a href="">Privacy</a>
            <a href="">About</a>
        </div>
     </div>
</footer>